.actions {
    z-index: 1;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.copy-text {
    /* position: absolute; */
    transform: translateX(-100%);
    top: 0rem;
    float: left;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
}